[project]
	description = a small build system with a focus on speed
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mark Sung (nctusdk)
[access "refs/for/refs/*"]
	read = group user/Mark Sung (nctusdk)
	push = group user/Mark Sung (nctusdk)
	label-Code-Review = -2..+2 group user/Mark Sung (nctusdk)
	label-Verified = -1..+1 group user/Mark Sung (nctusdk)
	rebase = group user/Mark Sung (nctusdk)
	removeReviewer = group user/Mark Sung (nctusdk)
	submit = group user/Mark Sung (nctusdk)
[access "refs/heads/*"]
	read = group user/Mark Sung (nctusdk)
	create = group user/Mark Sung (nctusdk)
	push = +force group user/Mark Sung (nctusdk)
	pushMerge = group user/Mark Sung (nctusdk)
[access "refs/tags/*"]
	push = +force group user/Mark Sung (nctusdk)
	pushTag = group user/Mark Sung (nctusdk)
	pushSignedTag = group user/Mark Sung (nctusdk)
